<!-- The content of the beans.xml file is not needed in Quarkus and can be removed -->
<!-- This file can be safely deleted as Quarkus does not rely on beans.xml for CDI configuration -->
<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee_9.0.xsd">
</beans>