<?xml version="1.0" encoding="UTF-8"?>
<!--
    This beans.xml file is intentionally left empty as Quarkus does not require it for CDI.
    Quarkus automatically handles CDI without the need for this descriptor.
    You can safely remove this file from the application.
-->
<beans xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
      https://jakarta.ee/xml/ns/jakartaee
      https://jakarta.ee/xml/ns/jakartaee/beans_4_0.xsd"
       bean-discovery-mode="all">
</beans>